.contact-form_container {
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;


    background-image:
        linear-gradient(to bottom, rgba(30, 47, 72, 1), rgba(33, 66, 116, 0.5)),
        url('images/background-contact.jpeg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* background-position-y: top; */

    z-index: 5;
}

.contact-form_inside_container {
    padding-top: 140px;
}