.contact-form_container {
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


    background-image:
        linear-gradient(to bottom, rgba(30, 47, 72, 1), rgba(33, 66, 116, 0.5)),
        url('images/background-contact.jpeg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
    box-sizing: border-box;

    z-index: 5;
}

.contact-form_inside_container {
    margin-top: 140px;
    /* padding-bottom: 20px; */
    position: relative;
    display: flex;
    align-items: center;
    min-width: 50vw;
    min-height: calc(90vh - 140px);
    z-index: 5;
}

.contact-info_container {
    position: relative;
    width: 20vw;
    height: 25vw;
    padding: 1.5vw;
    background: #051937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, .5);
    z-index: 6;
}

.contact-form_inside_container:hover .contact-info_container {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.contact-info_container h2 {
    color: #fff;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 2.5vw;
    margin-top: 0;
}

.ul_contact-info {
    position: relative;
    padding: 0;
}

.ul_contact-info li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1vw 0;
    cursor: pointer;
    align-items: flex-start;
}

.span_contact-info_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    min-width: 1.5vw;
    height: auto;
}

.span_contact-info_picture img {
    max-width: 100%;
    filter: invert(1);
}

.span_contact-info_text {
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
    opacity: .5;
    transition: .5s;
    margin: auto 0;
    margin-left: 1vw;
}

.ul_contact-info li:hover .span_contact-info_picture img,
.ul_contact-info li:hover .span_contact-info_text {
    opacity: 1;
}

.ul_social-media_contact {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.ul_social-media_contact li {
    list-style: none;
    margin-right: .8vw;
}

.ul_social-media_contact li:last-child {
    margin-right: 0;
}

.ul_social-media_contact li a {
    text-decoration: none;
}

.ul_social-media_contact li a img {
    filter: invert(1);
    opacity: .5;
    transition: .5s;
    height: 2.5vw;
    width: auto;
}

.ul_social-media_contact li:hover a img {
    transform: scale(1.2);
    opacity: 1;
}

.contact-form_inner_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 2vw 2vw;
    margin-left: 10vw;
    padding-left: 12vw;
    width: calc(100% - 10vw);
    box-shadow: 0 50px 50px rgba(0, 0, 0, .5);
    transition: 1s;
    opacity: .5;
}

.contact-form_inside_container:hover .contact-form_inner_container {
    opacity: 1;
}

.contact-form_inner_container h2 {
    color: #0f3959;
    font-size: 2vw;
    font-weight: 600;
    margin-top: .5vw;
}

.form-box_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: .5vw;
}

.input-box_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 .8vw 0;
}

.input-box_container.w50 {
    width: 47%;
}

.input-box_container.w100 {
    width: 100%;
}

.input-box_container input,
.input-box_container textarea {
    width: 100% !important;
    padding: .5vw 0;
    resize: none;
    font-size: 1vw;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.input-box_container textarea {
    min-height: 4.5vw;
}

.input-box_container span {
    position: absolute;
    left: 0;
    padding: .5vw 0;
    font-size: 1vw;
    font-weight: 300;
    color: #333;
    transition: .5s;
    pointer-events: none;
}

.input-box_container input:focus ~ span,
.input-box_container textarea:focus ~ span,
.input-box_container input:valid ~ span,
.input-box_container textarea:valid ~ span {
    transform: translateY(-1.2vw);
    font-size: .8vw;
    font-weight: 500;
    letter-spacing: 1px;
    color: red;
}

.input-box_container input:valid ~ span,
.input-box_container textarea:valid ~ span {
    color: #000;
}

.input-box_container_phone input:focus ~ span:after,
.input-box_container_phone input:valid ~ span:after {
    content: ' (ie. +48123456789)';
}

.input-box_container input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: #fff;
    border: none;
    max-width: 15vw;
    margin-top: .5vw;
    padding: .5vw 0;
    font-size: 1.2vw;
    font-weight: 500;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, .5);
    transition: .5s;
    text-transform: uppercase;
}

.input-box_container input[type="submit"]:hover {
    background: #000;
    transform: scale(1.2);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@media only screen and (max-width: 1200px) {
    .contact-form_container {
        width: 100%;
        min-height: 100vh;
        padding-bottom: 40px;
    }
    
    .contact-form_inside_container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-width: 90vw;
        min-height: 90vh;
    }

    .contact-info_container {
        width: 70vw;
        height: 40vh;
        padding: 1.5vh;
        align-items: center;
        justify-content: center;
    }
    
    .contact-form_inside_container:hover .contact-info_container {
        animation: none;
    }
    
    .contact-info_container h2 {
        font-size: 4vh;
        margin-bottom: 2vh;
    }
    
    .ul_contact-info li {
        justify-content: center;
        margin: 2vh 0;
    }
    
    .span_contact-info_picture {
        width: 4vh;
        min-width: 4vh;
    }
    
    .span_contact-info_text {
        font-size: 3vh;
        font-weight: 500;
        opacity: 1;
        transition: .5s;
        margin-left: 3vw;
    }

    .ul_social-media_contact {
        justify-content: space-around;
        width: 90%;
    }
    
    .ul_social-media_contact li {
        margin-right: 0;
    }
    
    .ul_social-media_contact li a img {
        opacity: 1;
        height: 6vh;
    }
    
    .ul_social-media_contact li:hover a img {
        transform: none;
    }

    .contact-form_inner_container {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: #fff;
        margin: 0;
        margin-top: -15vh;
        padding: 3vh;
        padding-top: 20vh;
        width: 90%;
        height: 80vh;
        opacity: 1;
    }
    
    .contact-form_inner_container h2 {
        font-size: 4vh;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-box_container {
        margin-top: 0;
    }
    
    .input-box_container {
        margin: 0;
    }

    .input-box_container:last-child {
        margin: 0;
    }
    
    .input-box_container.w50 {
        width: 100%;
    }
    
    .input-box_container input,
    .input-box_container textarea {
        font-size: 3.5vh;
        padding-bottom: .5vh;
    }
    
    .input-box_container span {
        font-size: 3.5vh;
    }

    .input-box_container input:focus ~ span,
    .input-box_container textarea:focus ~ span,
    .input-box_container input:valid ~ span,
    .input-box_container textarea:valid ~ span {
        transform: translateY(-3vh);
        font-size: 2.5vh;
    }

    .input-box_container input[type="submit"] {
        max-width: 50%;
        padding: 1vh 0;
        font-size: 3.5vh;
    }

    .input-box_container input[type="submit"]:hover {
        transform: none;
    }
}