.about-page_container {
    position: relative;
    width: 100%;
    min-height: calc(100vh + 5px);
    padding-top: 140px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(to bottom, rgba(5, 25, 55, 1), rgba(33, 66, 116, 0.5)),
        url('images/background-about.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 5;
}

.about-page_inside_container {
    width: 90%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-page_left_container {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-page_right_container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page_card_container {
    position: relative;
}

.about-page_left_container .face {
    width: 14vw;
    height: 14vw;
    transition: 0.5s;
}

.about-page_right_container .face {
    width: 55vw;
    height: 14vw;
    transition: 0.5s;
}

.face.face1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    transition: 1s;
    transform: translateY(100px);
}

.about-page_card_container:hover .face.face1 {
    background: #000;
    transform: translateY(0);
}

.content {
    opacity: .6;
    transition: .5s;
    text-align: center;
}

.img_about-page_card {
    max-width: 8vw;
    filter: invert(1);
}

.content h3 {
    margin: 1vw 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5vw;
}

.about-page_card_container:hover .content {
    opacity: 1;
}

.face.face2 .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-page_card_container:hover .img_about-page_card {
    max-width: 8vw;
}

.face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5vw;
    box-sizing: border-box;
    transform: translateY(-100px);
    opacity: 0;
}

.about-page_card_container:hover .face.face2 {
    transform: translateY(0);
    opacity: 1;
}

.face.face2 p {
    margin: 0;
    padding: 0;
}

.personal-info {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    line-height: 1.8vw;
    line-break: auto;    
    vertical-align: middle;
    display: inline-block;
}

.personal-info_name {
    transition: ease-in 1s;
    opacity: 0;
}

.personal-info_birthdate {
    transition: ease-in 2s;
    opacity: 0;
}

.personal-info_birthplace {
    transition: ease-in 2.5s;
    opacity: 0;
}

.about-page_personal-info_container:hover .personal-info_name, 
.about-page_personal-info_container:hover .personal-info_birthdate,
.about-page_personal-info_container:hover .personal-info_birthplace {
    opacity: 1;
}

.personal-info span {
    font-size: 1.5em;
    color: #27d4cf;
    font-weight: 700;
    text-transform: uppercase;
}

.education-name {
    margin: 0;
    padding: 0;
    padding-bottom: .5vw;
    font-size: 1vw;
    line-height: 1.5vw;
    line-break: auto;
    transition: ease-in 1s;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    border-bottom: 1px solid #000;
    opacity: 0;
}

.education-name span {
    color: #27d4cf;
    font-weight: 700;
}

.education-info {
    width: 100%;
    margin: 0;
    padding: .5vw 0;
    font-size: 1vw;
    line-height: 1.5vw;
    line-break: auto;
    transition: ease-in 2s;
    vertical-align: middle;
    display: inline-block;
    border-bottom: 1px solid #000;
    opacity: 0;
}

.education-info span {
    color: #27d4cf;
    font-weight: 700;
}

.education-time {
    width: 100%;
    margin: 0;
    padding: .5vw 0;
    font-size: 1vw;
    line-height: 1.5vw;
    line-break: auto;
    transition: ease-in 2.5s;
    vertical-align: middle;
    display: inline-block;
    opacity: 0;
}

.education-time span {
    color: #27d4cf;
    font-weight: 700;
}

.about-page_education_container:hover .education-name,
.about-page_education_container:hover .education-info,
.about-page_education_container:hover .education-time {
    opacity: 1;
}

.hobbies_flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hobbies-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #000;
}

.hobbies-column:last-child {
    border: none;
}

.hobby-title {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobby-title p {
    font-size: 1.5vw;
    font-weight: 700;
    transition: 1s;
    opacity: .35;
}

.hobbies-column:hover .hobby-title p {
    color: #27d4cf;
    opacity: 1;
}

.hobby-description {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    padding: 0 .5vw;
}

.hobby-description p {
    transition: 1s;
    opacity: .35;
}

.hobbies-column:hover .hobby-description p {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .about-page_container {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }  

    .about-page_card_container {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
        transition: 1s;
    }

    .about-page_card_container:hover {
        margin-left: 0;
    }

    .about-page_hobbies_container {
        margin-left: 0;
    }

    .about-page_inside_container {
        min-height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .about-page_left_container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .about-page_right_container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-page_hobbies_container {
        display: flex;
        flex-direction: column;
    }

    .about-page_left_container .face {
        width: 25vh;
        height: 25vh;
        transition: 0.5s;
    }
    
    .about-page_right_container .face {
        width: 100vh;
        height: 25vh;
        transition: 0.5s;
    }
    
    .face.face1 {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0;
        align-items: center;
        z-index: 6;
        transition: 1s;
        transform: translateX(50px);
    }

    .about-page_hobbies_container .face.face1 {
        padding: 1vh 0;
        transition: 1s;
        transform: translateY(50px);
    }
    
    .about-page_card_container:hover .face.face1 {
        background: #000;
        transform: translateX(0);
    }

    .about-page_hobbies_container:hover .face.face1 {
        transform: translateY(0);
    }

    .img_about-page_card {
        max-width: 20vw;
        filter: invert(1);
    }

    .about-page_hobbies_container .img_about-page_card {
        max-width: 18vw;
        margin-bottom: 1vw;
    }
    
    .content h3 {
        margin: .5vh 0 .5vh;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 4vw;
    }

    .about-page_hobbies_container .content h3 {
        margin: .5vh 0 0 0;
        font-size: 4vw;
    }

    .face.face2 .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-page_card_container:hover .img_about-page_card {
        max-width: 20vw;
    }

    .about-page_hobbies_container:hover .img_about-page_card {
        max-width: 18vw;
    }
    
    .face.face2 {
        position: relative;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transform: translateX(-50px);
        opacity: 0;
    }

    .about-page_hobbies_container .face.face2 {
        transform: translateY(-15vh);
    }

    .about-page_card_container:hover .face.face2 {
        transform: translateX(0);
    }
    
    .about-page_hobbies_container:hover .face.face2 {
        transform: translateY(0);
    }  

    .personal-info {
        font-size: 3.7vw;
        line-height: 4.3vw;
    }

    
    .personal-info span {
        font-size: 4.1vw;
    }

    .education-name {
        padding-bottom: 1.4vw;
        font-size: 3.3vw;
        line-height: 3.3vw;
    }
    
    .education-info {
        padding: 1.4vw 0;
        font-size: 3.3vw;
        line-height: 3.3vw;
    }
    
    .education-time {
        padding: 1.4vw 0;
        font-size: 3.3vw;
        line-height: 3.3vw;
    }

    .about-page_left_container .face {
        width: 45vw;
        height: 30vw;
        transition: 0.5s;
    }

    .about-page_right_container .face {
        width: 90vw;
        height: 30vw;
        transition: 0.5s;
    }

    .about-page_hobbies_container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .hobbies_flexbox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .hobbies-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-right: 1px solid #000;
        padding: .5vw;
    }
    
    .hobby-title {
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hobby-title p {
        font-size: 2.8vw;
        font-weight: 700;
        transition: 1s;
        opacity: .35;
    }
    
    .hobby-description {
        height: 85%;
        font-size: 2.2vw;
    }
}